* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

input, button, textarea {
  font-family: inherit;
}

input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  font-family: "Poppins", sans-serif;
  background: #000;
  color: #fff;
}

.header .header_menu {
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .header_menu .header_menu_logo {
  margin-left: 152px;
  margin-right: 340px;
}
.header .header_menu .header_menu_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header .header_menu .header_menu_nav p {
  margin-right: 56px;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  margin-top: 3px;
}
.header .header_menu .header_menu_nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header .header_menu .header_menu_nav ul li a {
  color: #fff;
  margin-right: 32px;
}
.header .header_menu .header_menu_btn button {
  background: #FFFFFF;
  border-radius: 14px;
  color: #000;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.4px;
  padding: 9px 20px 13px 20px;
  margin-top: -9px;
}

.aperture {
  padding-top: 461px;
  background: url(../image/bg_header.png) no-repeat top/cover;
}
.aperture .aperture_titles {
  text-align: center;
}
.aperture .aperture_titles .aperture_titles_upper {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #C0C0C0;
}
.aperture .aperture_titles .aperture_titles_main {
  font-weight: 400;
  font-size: 54px;
  line-height: 59px;
  color: #FFFFFF;
  margin-top: 1px;
  margin-bottom: 18px;
}
.aperture .aperture_titles .aperture_titles_sub {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #C0C0C0;
}
.aperture .aperture_iso {
  width: 296px;
  margin-left: auto;
  margin-right: 40px;
  margin-bottom: 41px;
}

.what-we-do .what-we-do_titles {
  text-align: center;
  margin-top: 113px;
}
.what-we-do .what-we-do_titles .what-we-do_titles_upper {
  font-weight: 400;
  font-size: 40px;
  line-height: 42px;
  margin-bottom: 15px;
}
.what-we-do .what-we-do_titles .what-we-do_titles_under {
  font-weight: 400;
  font-size: 23px;
  line-height: 30px;
  color: #C0C0C0;
  margin-bottom: 42px;
}
.what-we-do .what-we-do_boxes {
  margin-left: 197px;
}
.what-we-do .what-we-do_boxes .boxes_sides {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.what-we-do .what-we-do_boxes .boxes_sides .box {
  height: 600px;
  width: 576px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
.what-we-do .what-we-do_boxes .boxes_sides .box .box_title {
  margin-left: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.what-we-do .what-we-do_boxes .boxes_sides .box .box_subtitle {
  margin-left: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #C0C0C0;
  margin-bottom: 17px;
}
.what-we-do .what-we-do_boxes .boxes_sides .box .box_button {
  margin-left: 30px;
  letter-spacing: 0.4px;
  color: #000;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 30px;
}
.what-we-do .what-we-do_boxes .boxes_sides .box .box_button button {
  background: #FFFFFF;
  border-radius: 14px;
  padding: 11px 21px;
}
.what-we-do .what-we-do_boxes .what-we-do_boxes_upper_first {
  background: url(../image/IMAGE.png) no-repeat top/cover;
  margin-right: 16px;
}
.what-we-do .what-we-do_boxes .what-we-do_boxes_upper_second {
  background: url(../image/IMAGE-1.png) no-repeat top/cover;
  margin-bottom: 16px;
}
.what-we-do .what-we-do_boxes .what-we-do_boxes_under_first {
  background: url(../image/IMAGE-2.png) no-repeat top/cover;
  margin-right: 16px;
}
.what-we-do .what-we-do_boxes .what-we-do_boxes_under_second {
  background: url(../image/IMAGE-3.png) no-repeat top/cover;
  margin-bottom: 100px;
}

.fuji {
  background: url(../image/fuji_bg.png) no-repeat top/cover;
}
.fuji .fuji_title {
  margin-left: auto;
  width: 298px;
  margin-right: 62px;
}
.fuji .fuji_title .fuji_title_upper {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding-top: 260px;
}
.fuji .fuji_title .fuji_title_under {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #C0C0C0;
  margin-bottom: 203px;
}
.fuji .fuji_image {
  margin-right: 40px;
  margin-left: auto;
  padding-bottom: 40px;
  width: 257px;
}

.gear {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.gear .gear_left {
  margin-left: 100px;
}
.gear .gear_left .gear_left_titles {
  margin-top: 173px;
}
.gear .gear_left .gear_left_titles .gear_left_titles_upper {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #C0C0C0;
  margin-bottom: 6px;
}
.gear .gear_left .gear_left_titles .gear_left_titles_main {
  font-weight: 400;
  font-size: 28px;
  line-height: 32px;
  margin-bottom: 14px;
}
.gear .gear_left .gear_left_titles .gear_left_titles_under {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 20px;
}
.gear .gear_left .gear_left_button button {
  background: #FFFFFF;
  border-radius: 14px;
  padding: 11px 21px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.4px;
}
.gear .gear_right {
  background: url(../image/tools_bg.png) no-repeat top/cover;
  height: 540px;
  width: 720px;
}
.gear .gear_right .gear_right_image {
  width: 282px;
  margin-left: auto;
  margin-right: 40px;
  margin-top: 484px;
}

.leafs {
  background: url(../image/leafs_bg.png) no-repeat top/cover;
}
.leafs .leafs_title {
  margin-left: auto;
  width: 298px;
  margin-right: 87px;
}
.leafs .leafs_title .leafs_title_upper {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding-top: 260px;
}
.leafs .leafs_title .leafs_title_under {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #C0C0C0;
  margin-bottom: 203px;
}
.leafs .leafs_image {
  margin-right: 40px;
  margin-left: auto;
  padding-bottom: 40px;
  width: 319px;
}

.clients .clients_upper {
  text-align: center;
  margin-top: 113px;
  margin-bottom: 82px;
}
.clients .clients_upper .clients_upper_title {
  font-weight: 400;
  font-size: 40px;
  line-height: 42px;
}
.clients .clients_upper .clients_upper_subtitle {
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: #C0C0C0;
}
.clients .clients_logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 182px;
  margin-right: 182px;
  padding-bottom: 140px;
}

.fall {
  background: url(../image/fall_bg.png) no-repeat top/cover;
}
.fall .fall_title {
  margin-left: auto;
  width: 298px;
  margin-right: 106px;
}
.fall .fall_title .fall_title_upper {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding-top: 260px;
}
.fall .fall_title .fall_title_under {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #C0C0C0;
  margin-bottom: 203px;
}
.fall .fall_image {
  margin-right: 40px;
  margin-left: auto;
  padding-bottom: 40px;
  width: 251px;
}

.footer .footer_upper {
  text-align: center;
  margin-top: 113px;
}
.footer .footer_upper .footer_upper_title {
  font-weight: 400;
  font-size: 40px;
  line-height: 42px;
}
.footer .footer_upper .footer_upper_subtitle {
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: #C0C0C0;
  margin-top: 15px;
  margin-bottom: 22px;
}
.footer .footer_upper .footer_upper_button {
  margin-bottom: 200px;
}
.footer .footer_upper .footer_upper_button button {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.4px;
  border-radius: 14px;
  padding: 11px 21px;
}
.footer .footer_main {
  margin-left: 136px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer .footer_main .footer_main_logo p {
  margin-top: 20px;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: #C0C0C0;
  margin-right: 270px;
}
.footer .footer_main .footer_main_areas p {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 10px;
}
.footer .footer_main .footer_main_areas ul li {
  margin-bottom: 10px;
}
.footer .footer_main .footer_main_areas ul li a {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
}
.footer .footer_main .footer_main_pages {
  margin-left: 55px;
  margin-bottom: 26px;
}
.footer .footer_main .footer_main_pages p {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 10px;
}
.footer .footer_main .footer_main_pages ul li {
  margin-bottom: 10px;
}
.footer .footer_main .footer_main_pages ul li a {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
}
.footer .footer_undermain_hr {
  margin-left: 136px;
  height: 2px;
  width: 1168px;
  background: #fff;
  margin-bottom: 36px;
}
.footer .footer_undermain_mail {
  margin-left: 136px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer .footer_undermain_mail .footer_undermain_mail_title .footer_undermain_mail_title_upper {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.footer .footer_undermain_mail .footer_undermain_mail_title .footer_undermain_mail_title_under {
  margin-top: 20px;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  margin-bottom: 36px;
}
.footer .footer_undermain_mail .footer_undermain_mail_form {
  margin-left: 442px;
}
.footer .footer_undermain_mail .footer_undermain_mail_form input {
  width: 458px;
  height: 52px;
  border-radius: 12px;
  background: #F9FAFB;
  border: 1px solid #E5E7EB;
  padding-left: 10px;
}
.footer .footer_undermain_mail .footer_undermain_mail_form button {
  background: #000;
  margin-left: -75px;
  border-radius: 11px;
  width: 63px;
  height: 31px;
}
.footer .footer_undermain_mail_hr {
  margin-left: 136px;
  height: 2px;
  width: 1168px;
  background: #fff;
  margin-bottom: 36px;
}
.footer .footer_media {
  margin-left: 136px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer .footer_media p {
  margin-right: 665px;
  margin-bottom: 104px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #C0C0C0;
}
.footer .footer_media img {
  margin-right: 20px;
}